<div class="news-filter" ng-switch on="mode">
  <!-- default filter -->
  <div ng-switch-when="default">
    <form ng-submit="setFilter($event)" action="#">
      <div class="row gap-3">
        <div class="col-auto p-0">
          <!-- country-filter -->
          <select
            class="form-select form-select-sm"
            name="country"
            ng-model="fields.country"
            ng-change="filterService.changeFilter([fields.country, fields.category], ['country', 'category'])"
          >
            <option value="" selected>Страна</option>
            <option
              ng-repeat="countryCode in filterService.countryCodeList"
              value="{{ countryCode }}"
            >
              {{ countryCode }}
            </option>
          </select>
        </div>
        <div class="col-auto p-0">
          <!-- category-filter -->
          <select
            class="form-select form-select-sm"
            name="category"
            ng-model="fields.category"
            ng-change="filterService.changeFilter([fields.category, fields.country], ['category', 'country'])"
          >
            <option value="general" selected>Категория</option>
            <option
              ng-repeat="category in filterService.categoryList"
              value="{{ category }}"
            >
              {{ category }}
            </option>
          </select>
        </div>
        <div class="col-auto p-0">
          <button
            type="submit"
            class="btn btn-outline-primary btn-sm"
            ng-disabled="filterService.isDisabledFilter"
          >
            Фильтровать
          </button>
        </div>
      </div>
    </form>
  </div>
  <!-- search filter -->
  <div ng-switch-when="search">
    <form ng-submit="setFilter($event)" action="#">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          ng-model="fields.search"
          ng-change="filterService.changeFilter([fields.search], ['q'])"
          placeholder="Введите название новости..."
        />
        <button
          class="btn btn-outline-primary"
          type="submit"
          ng-disabled="filterService.isDisabledFilter"
        >
          Поиск
        </button>
      </div>
    </form>
  </div>
</div>
