<div class="news-list">
  <!-- FILTER -->
  <news-filter mode="filterMode" get-news="getNews"></news-filter>

  <!-- ERROR MESSAGE -->
  <div ng-if="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>

  <!-- SPINNER -->
  <div ng-if="isLoading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- LIST CARDS -->
  <div class="row gap-2" ng-if="newsData.articles.length > 0">
    <news-card
      class="col-12"
      ng-repeat="card in newsData.articles"
      data="card"
    ></news-card>
  </div>

  <p ng-if="newsData.articles.length === 0 && !isLoading">
    Новости отсутствуют :(
  </p>

  <!-- PAGINATIOM -->
  <ul
    ng-if="newsData.articles.length > 0 || errorMessage"
    uib-pagination
    previous-text="<"
    next-text=">"
    total-items="newsData.total"
    ng-model="newsData.currentPage"
    ng-change="changePage(newsData.currentPage)"
    max-size="newsData.pageSize"
    class="pagination mt-3"
    boundary-link-numbers="true"
    rotate="true"
  ></ul>
</div>
